<% layout('layouts/boilerplate.ejs') %>
 

 <div class="container" align="center" style="margin: 2%;"><h1>All Campgrounds</h1></div>
 <hr>
 <ul>
  <div class="container mb-3">
    <div class="row">
        <div class="col-12">
            <div class="flex-container">
                <form class="d-flex" action="/campgrounds/search" method="get">
                  <input type="text" name="query" class="form-control me-2" placeholder="Search...">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div align="center" style="margin: 20px;">
  <h1>No such place found </h1>
  <h1>:(</h1>
  <h2 style="color: rgb(0, 0, 0);">Please try a different one...</h2>
</div>


 <style>
   body {
     background-image: linear-gradient(to right, rgb(228, 251, 252), rgb(132, 190, 238));
   }
   .card {
     background-image: linear-gradient(to bottom, rgb(242, 242, 242), rgb(221, 224, 223));
   }
 </style>